.kotori-music-player-lyric {
    font-family: Microsoft JhengHei, Microsoft YaHei;
    border-radius: 10px 10px 10px 10px;
    font-weight: 900;
    font-size: 34px;
    color: #008000;
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
    background: transparent9;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999999900;
    
}
