html {
    height: 125px;
}

a {
    text-decoration: none !important;
    outline: 0;
}

.kotori-music-player {
    width: 370px;
    font-family: 'Lato', arial, sans-serif;
}

.kotori-music-player .player {
    width: 100%;
}


/** Album Cover **/

.kotori-music-player .album-cover {
    position: relative;
    float: left;
    background: #333 url(../images/album-cover-bg.jpg) no-repeat 0 0 scroll;
    ;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
}

.kotori-music-player .album-cover .img {
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}


.kotori-music-player .album-cover, .kotori-music-player .album-cover .img{
    display: block;
    height: 125px;
    width: 125px;
}

.kotori-music-player .album-cover img, .kotori-music-player .album-cover .img{
    position: absolute;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
}


/** Track Info **/

.kotori-music-player .track-info {
    width: 215px;
    margin: 8px 0 0 30px;
    float: left;
    font-size: 12px;
}

.kotori-music-player .track-info p {
    margin: 0 0 8px 0;
}

.kotori-music-player .player .title {
    color: #000000;
    font-family: 'Lato Bold', arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.kotori-music-player .player .title:before {
    content: '「 ';
}

.kotori-music-player .player .title:after {
    content: ' 」';
}

.kotori-music-player .artist-outer {
    color: #727272;
    font-family: 'Lato', arial, sans-serif;
}

.kotori-music-player .artist {
    color: #666;
    font-family: 'Lato', arial, sans-serif;
    margin-left: 4px;
    font-size: 11px;
}



/** Player **/

.kotori-music-player .player-controls {
    width: 215px;
    height: 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: left;
    margin: 12px 0 0 30px;
}

.kotori-music-player .player-controls .main {
    width: 52px;
    height: 12px;
    margin: 9px 9px;
    float: left;
}

.kotori-music-player .player-controls div {
    float: left;
    cursor: pointer;
}

.kotori-music-player .previous, .kotori-music-player .next {
    height: 10px;
    width: 15px;
    margin: 1px 0;
}

.kotori-music-player .play, .kotori-music-player .pause {
    width: 8px;
    height: 12px;
    margin: 0 7px;
}

.kotori-music-player .previous {
    background: transparent url(../images/player-previous.png) no-repeat center center scroll;
}

.kotori-music-player .next {
    background: transparent url(../images/player-next.png) no-repeat center center scroll;
}

.kotori-music-player .play {
    background: transparent url(../images/player-play.png) no-repeat center center scroll;
}

.kotori-music-player .pause {
    background: transparent url(../images/player-pause.png) no-repeat center center scroll;
}

.kotori-music-player .progress-wrapper {
    height: 9px;
    width: 135px;
    float: left;
    background: #ccc;
    margin: 11px 10px 10px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.kotori-music-player .progress {
    height: 9px;
    width: 135px;
    cursor: pointer;
}

.kotori-music-player .elapsed {
    height: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 1px;
    width: 0%;
    background: #3aa8bd;
}

.kotori-music-player .unused-controls {
    display: none !important;
}


/** Description **/

.kotori-music-player .description {
    clear: both;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.kotori-music-player .description.showing {
    margin: 30px 0;
}


/** Track List **/

.kotori-music-player .tracklist {
    padding: 10px 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: transparent url(../images/tracklist-bg.png) repeat 0 0 scroll;
    color: #999;
    font-size: 12px;
}

.kotori-music-player .tracklist ol {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.kotori-music-player .tracklist li {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    background: transparent url(../images/tracklist-item-bg.png) repeat-x bottom left scroll;
    padding: 10px 0 10px 0;
    list-style-position: inside;
    position: relative;
}

.kotori-music-player .tracklist li:hover {
    color: #eee;
}

.kotori-music-player li:last-child {
    background: none;
}


.kotori-music-player .tracklist .title {
    width: 164px;
    display: inline-block;
    padding: 0 0 0 14px;
    cursor: pointer;
}

.kotori-music-player li:nth-child(1n + 10) .title {
    padding-left: 7px;
}

.kotori-music-player li.playing {
    color: #fff !important;
}


/** Transitions **/

.kotori-music-player .tracklist li{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.kotori-music-player .player:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
